# -----------------------------------
#       APP
# -----------------------------------
APP_NAME='AnyBusiness'
APP_VERSION=0.0.0.dev

APP_HOST=http://localhost
APP_PORT=18000
APP_ENVIRONMENT=development

APP_NETWORKING_PROXIES="127.0.0.1"
APP_LOG_LEVEL=INFO

# ||||||||||||||||
# Database
# ||||||||||||||||
DB_ADMINER_PORT=18080

DB_POSTGRES_HOST=localhost
DB_POSTGRES_PORT=5432
DB_POSTGRES_USER=admin
DB_POSTGRES_PASSWORD=admin
DB_POSTGRES_DB=any_business

DB_POSTGRES_POOL_MIN_CONNS=2
DB_POSTGRES_POOL_MAX_CONNS=20
DB_POSTGRES_POOL_MAX_CONN_IDLE_TIME_MINUTES=5
DB_POSTGRES_POOL_MAX_CONN_LIFE_TIME_MINUTES=30
DB_POSTGRES_POOL_HEALTH_CHECK_PERIOD_SECONDS=30
